
<form (ngSubmit)="onSubmit()" #teamForm="ngForm">
    <label class="form-label" for="teamName">
        Team Name:
    </label>
    <input type="text" placeholder="Enter Team Name" id="teamName" name="teamName" required [(ngModel)]="teamRequest.name">

    <label for="teamDescription">
        Description:
    </label>
    <input type="text" placeholder="Enter Team Description" id="teamDescription" name="teamDescription" required [(ngModel)]="teamRequest.description">

    <select id="user" [(ngModel)]="teamRequest.teammates" multiple name="teammates" [ngModelOptions]="{ standalone: true }">
        <option *ngFor="let employee of companyEmployees" [value]="employee">{{employee.profile.firstName}} {{employee.profile.lastName}}</option>
    </select>

    <button type="submit">Add Team</button>
</form>