<div *ngIf="loading" class="flex flex-col justify-center items-center m-auto text-4xl">Loading...</div>
<div class="flex flex-col justify-center items-center pt-4" *ngIf="announcements.length > 0">
    <h2 class="text-3xl">Announcements</h2>
    <ul>
      <li *ngFor="let announcement of announcements">
        <app-announcement-card [announcement]="announcement"></app-announcement-card>
      </li>
    </ul>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


