
<div class="flex flex-col  text-justify-center items-center pt-4" *ngIf="announcements.length >= 0">
    <h2 class="text-4xl font-bold underline mb-4">Announcements</h2>

    <app-loading [isLoading]="isLoading"></app-loading>
    
    <button *ngIf="this.currentUser.admin" class="button m-4 animate-pulse" (click)="this.addAnouncement()">Create Announcement</button>
    <ul *ngIf="!isLoading">
      <li *ngFor="let announcement of announcements">
        <app-announcement-card  [announcement]="announcement"></app-announcement-card>
      </li>
    </ul>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


