<div class=" bg-fuchsia-50  shadow-md rounded-xl my-16 mx-4">
  <h3 class="text-2xl bg-orange-300 font-bold rounded-t-xl py-4 mb-8 text-center">{{ announcement.title }}</h3>

  <p class="text-lg text-gray-700 mb-8 mx-2">{{ announcement.message }}</p>
  <div class="bg-slate-200 rounded-b-xl border-t pt-4 px-2">
    <div class="flex flex-col justify-end items-end">
      <small class="text-gray-500 underline">Posted on: {{ announcement.date | date }}</small>
      <p class="text-gray-800">Author: {{ announcement.author.profile.firstName }} {{ announcement.author.profile.lastName }}</p>
      <div class="flex flex-row">
      <button class="text-center bg-blue-500 hover:bg-green-600 text-white font-semibold py-2 rounded-md my-2 w-fit px-4 mx-1" (click)="editAnnouncement()">
        <img src="assets/EDIT.svg" alt="Edit Icon" style="width: 24px; height: 24px;" class="text-center">
      </button>
      <button class="text-center bg-red-500 hover:bg-green-600 text-white font-semibold py-2 rounded-md my-2 w-fit px-4 mx-1" (click)="editAnnouncement()">
        <img src="assets/DELETE.svg" alt="Delete Icon" style="width: 24px; height: 24px;" class="text-center">
      </button>
    </div>
    </div>
  </div>
</div>